article {
    border-top: none !important;
}

#__next {
    margin: auto;
}


.main-content {
    padding-left: 0;

    @media only screen and (max-width: $breakpoint) {
        padding-right: 0 !important;
    }
}

body {
    background-color: none;
    overflow-x: hidden;
    &:before {
        content: "";
        height: 10px;
        background: linear-gradient(to right, $green, $blue);
        display: block;
        @media only screen and (max-width: $breakpoint) {
            display: none;
        }
    }
    &:after {
        position: absolute;
        top: 0;
        width: 100%;
        content: "";
        height: 63px;
        display: block;
        z-index: 1;
        border-bottom: 2px solid $grey;
        pointer-events: none;
        @media only screen and (max-width: $breakpoint) {
            display: none;
        }
    }
}

a {
    color: $icon-blue;
}

main {
    border-right: 2px solid $grey !important;
    padding-right: 1em;
    @media only screen and (max-width: $breakpoint) {
        border: none !important;
    }
}

nav {
    border-bottom: 2px solid $grey !important;
    margin-bottom: 0 !important;
    @media only screen and (max-width: $breakpoint) {
        background: linear-gradient(to right, $green, $blue) !important;
        border: none !important;
    }

    .MobileSearchButton {
        @media only screen and (max-width: $breakpoint) {
            position: absolute;
            right: 0;
            top: 3px;
            width: 40px;
            height: 40px;
            &:before {
                content: "\f002";
                font-family: FontAwesome;
                display: block;
                position: absolute;
                z-index: 1024;
                color: white;
                padding: 11px;
                font-size: 1.25em;
            }
        }
    }

    .navbar-brand {
        @media only screen and (max-width: $breakpoint) {
            background-image: url(https://pikurate.now.sh/static/mobile-logo.png);
            position: absolute;
            left: 48%;
            top: 15px;
            width: 30px;
            height: 30px;
        }
        background-image: url(https://pikurate.now.sh/static/pikurate.png);
        width: 200px;
        background-repeat: no-repeat;
        i {
            display: none;
        }
        position: relative;
        top: 5px;
        left: .5em;
    }
    ul {
        text-transform: uppercase;
    }
    @media only screen and (max-width: $breakpoint) {
        .navbar-collapse {
            padding: 0em;
        }
        .navbar-right {
            background: white;
            margin: 0;
            border-bottom: 1px solid $grey;
        }
    }

    button {
        border: none !important;
        float: left !important;
        &:hover {
            background-color: transparent !important;
        }
        @media only screen and (max-width: $breakpoint) {
            float: left;
            padding-left: 1.5em;
            .icon-bar {
                background-color: white !important;
            }
            border: none !important;
        }
        &:hover {
            background: red;
        }
    }
}

.text-muted {
    color: $medium-grey;
}

.Share {
  &:hover {
    background: transparentize($grey, .5);
  }

  a.share {
    color: $medium-grey;
    position: relative;
    padding-left: 1.5em;
    &:before {
      background-size: cover;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(/static/icons/share.png);
      position: absolute;
      left: 0;
      top: -2px;
      color: $icon-blue;
    }
  }
  .modal-body {
    a {
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      max-width: 300px;
      margin-bottom: 1em;
    }
    a.btn-facebook {
			background: $facebook-blue;
		}
		a.btn-twitter {
			background: $twitter-blue;
		}
		a.btn-linkedin {
			background: $linkedin-blue;
		}
		a.btn-email {
			background: $dark-grey;
      margin-bottom: 0;
		}
  }
}

.rating {
  color: $medium-grey;
  padding-left: 1em;

  .rating__dot {
    padding-left: 0.125em;
    padding-right: 0.125em;
    color: $icon-blue;

    &:before {
      content: "\f1db";
      font-family: FontAwesome;
    }
    &.fill, &.rated {
      &:before {
        content: "\f111";
      }
    }
  }
  .rating__count {
    padding-left: 0.25em;
  }
}

.views {
  i {
    display: none;
  }
  color: $medium-grey;
  padding-left: 1.5em;
  padding-right: 2em;
  position: relative;
  &:before {
    background-image: url(/static/icons/eye.png);
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    color: $icon-blue;
  }
}

.likes {
  i {
    display: none;
  }
  color: $medium-grey;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  &:before {
    background-image: url(/static/icons/heart.png);
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    color: $icon-blue;
  }
}

.saves {
  color: $medium-grey;
  padding-left: 1.5em;
  position: relative;
  &:before {
    background-image: url(/static/icons/chevron.png);
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    color: $icon-blue;
  }
}

.JourneyTags {
  a {
    color: $medium-grey;
    border: 1px solid $grey;
    margin-right: .5em;
    padding: 3px;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    display: inline-block;
  }
}

.JourneySaveButton {
  border: none;
  background: none;
  i {
    color: $icon-blue;
    padding-right: .25em;
  }
  color: $medium-grey;
  margin-right: 1em;
  &:hover {
    background: transparentize($grey, .5);
  }
}
