article {
  border-top: none !important; }

#__next {
  margin: auto; }

.main-content {
  padding-left: 0; }
  @media only screen and (max-width: 768px) {
    .main-content {
      padding-right: 0 !important; } }

body {
  background-color: none;
  overflow-x: hidden; }
  body:before {
    content: "";
    height: 10px;
    background: linear-gradient(to right, #96bb33, #0067ab);
    display: block; }
    @media only screen and (max-width: 768px) {
      body:before {
        display: none; } }
  body:after {
    position: absolute;
    top: 0;
    width: 100%;
    content: "";
    height: 63px;
    display: block;
    z-index: 1;
    border-bottom: 2px solid #ebebeb;
    pointer-events: none; }
    @media only screen and (max-width: 768px) {
      body:after {
        display: none; } }

a {
  color: #29abe1; }

main {
  border-right: 2px solid #ebebeb !important;
  padding-right: 1em; }
  @media only screen and (max-width: 768px) {
    main {
      border: none !important; } }

nav {
  border-bottom: 2px solid #ebebeb !important;
  margin-bottom: 0 !important; }
  @media only screen and (max-width: 768px) {
    nav {
      background: linear-gradient(to right, #96bb33, #0067ab) !important;
      border: none !important; } }
  @media only screen and (max-width: 768px) {
    nav .MobileSearchButton {
      position: absolute;
      right: 0;
      top: 3px;
      width: 40px;
      height: 40px; }
      nav .MobileSearchButton:before {
        content: "\f002";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        z-index: 1024;
        color: white;
        padding: 11px;
        font-size: 1.25em; } }
  nav .navbar-brand {
    background-image: url(https://pikurate.now.sh/static/pikurate.png);
    width: 200px;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    left: .5em; }
    @media only screen and (max-width: 768px) {
      nav .navbar-brand {
        background-image: url(https://pikurate.now.sh/static/mobile-logo.png);
        position: absolute;
        left: 48%;
        top: 15px;
        width: 30px;
        height: 30px; } }
    nav .navbar-brand i {
      display: none; }
  nav ul {
    text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    nav .navbar-collapse {
      padding: 0em; }
    nav .navbar-right {
      background: white;
      margin: 0;
      border-bottom: 1px solid #ebebeb; } }
  nav button {
    border: none !important;
    float: left !important; }
    nav button:hover {
      background-color: transparent !important; }
    @media only screen and (max-width: 768px) {
      nav button {
        float: left;
        padding-left: 1.5em;
        border: none !important; }
        nav button .icon-bar {
          background-color: white !important; } }
    nav button:hover {
      background: red; }

.text-muted {
  color: #999999; }

.Share a.share {
  color: #999999;
  position: relative;
  padding-left: 1.5em; }
  .Share a.share:before {
    content: "\f045";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #29abe1; }
.Share .modal-body a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1em; }
.Share .modal-body a.btn-facebook {
  background: #3b5998; }
.Share .modal-body a.btn-twitter {
  background: #00acee; }
.Share .modal-body a.btn-linkedin {
  background: #0e76a8; }
.Share .modal-body a.btn-email {
  background: #666666;
  margin-bottom: 0; }

.rating {
  color: #999999;
  padding-left: 1em; }
  .rating .rating__dot {
    padding-left: 0.125em;
    padding-right: 0.125em;
    color: #29abe1; }
    .rating .rating__dot:before {
      content: "\f1db";
      font-family: FontAwesome; }
    .rating .rating__dot.fill:before, .rating .rating__dot.rated:before {
      content: "\f111"; }
  .rating .rating__count {
    padding-left: 0.25em; }

.views {
  color: #999999;
  padding-left: 1.5em;
  padding-right: 2em;
  position: relative; }
  .views i {
    display: none; }
  .views:before {
    content: "\f06e";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #29abe1; }

.likes {
  color: #999999;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative; }
  .likes i {
    display: none; }
  .likes:before {
    content: "\f08a";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #29abe1; }

.saves {
  color: #999999;
  padding-left: 1.5em;
  position: relative; }
  .saves:before {
    content: "\f234";
    font-family: FontAwsome;
    position: absolute;
    left: 0;
    color: #29abe1; }

.JourneyTags a {
  color: #999999;
  border: 1px solid #ebebeb;
  margin-right: .5em;
  padding: 3px;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  display: inline-block; }

.JourneySaveButton {
  border: none;
  background: none;
  color: #999999;
  margin-right: 1em; }
  .JourneySaveButton i {
    color: #29abe1;
    padding-right: .25em; }
  .JourneySaveButton:hover {
    background: rgba(235, 235, 235, 0.5); }

.SearchMenu {
  margin: -15px;
  margin-top: 0px; }
  .SearchMenu .form-group {
    margin: 0; }
  .SearchMenu fieldset {
    border-bottom: 1px solid #ebebeb;
    width: 100%; }
    .SearchMenu fieldset .field:first-child {
      padding: 0;
      height: 53px;
      border-bottom: 2px solid #ebebeb;
      overflow: hidden; }
      .SearchMenu fieldset .field:first-child:before {
        content: "\f002";
        font-family: FontAwesome;
        display: block;
        height: 50px;
        position: absolute;
        z-index: 1024;
        color: #29abe1;
        padding: 1em;
        background: white; }
      .SearchMenu fieldset .field:first-child input {
        border: none;
        height: 30px;
        padding-left: 7px;
        margin-left: 40px;
        height: 50px;
        outline: none;
        box-shadow: none; }
        @media only screen and (max-width: 768px) {
          .SearchMenu fieldset .field:first-child input {
            width: 90%; } }
      .SearchMenu fieldset .field:first-child label {
        display: none; }
    .SearchMenu fieldset .field {
      margin: 0;
      padding: 1em; }
      .SearchMenu fieldset .field label {
        position: relative;
        left: 7px;
        color: #666666;
        font: -webkit-control;
        text-transform: uppercase; }
      .SearchMenu fieldset .field select {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #ebebeb;
        border-radius: 0;
        color: #96bb33;
        display: inline-block;
        width: 100%; }
  .SearchMenu button {
    margin: 1em;
    background: none;
    color: #29abe1;
    border: none; }
    .SearchMenu button:hover {
      color: #29abe1;
      background: rgba(41, 171, 225, 0.1); }

@media only screen and (max-width: 768px) {
  .SearchMenu input.form-control {
    font-size: 16px; }

  .SearchSidebar {
    position: fixed !important;
    overflow: hidden;
    background: white;
    display: none;
    top: 50px !important;
    width: 100%; }
    .SearchSidebar.in {
      display: block; } }
.SearchPage__result {
  height: 660px;
  padding-top: 3em;
  overflow: hidden;
  transition: .2s all; }
  @media only screen and (max-width: 768px) {
    .SearchPage__result {
      padding-right: 10px;
      padding-left: 0; } }
  .SearchPage__result .SearchPage__result-badge {
    color: #96bb33;
    line-height: 1em;
    font-size: .9em;
    font-weight: bold;
    position: absolute;
    top: 30px; }
  .SearchPage__result .SearchPage__result-title {
    color: #333333;
    font-size: 1.5em;
    text-decoration: none;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-top: 3px; }
  .SearchPage__result .SearchPage__result-recommended-image {
    background-size: cover !important;
    background-position: center;
    min-height: 210px;
    border: 2px solid #ebebeb;
    margin-bottom: 1em;
    margin-top: 1em;
    background-origin: content-box;
    max-width: initial !important;
    background-repeat: no-repeat; }
  .SearchPage__result:hover {
    background: rgba(153, 153, 153, 0.05); }
  .SearchPage__result .SearchPage__result-description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 1em; }
  .SearchPage__result .SearchPage__tag-list {
    margin-top: 1em;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    .SearchPage__result .SearchPage__tag-list ul {
      list-style: none;
      padding: 0;
      padding-top: 1em;
      color: #29abe1;
      margin-bottom: 1em; }
      .SearchPage__result .SearchPage__tag-list ul li {
        margin-bottom: 5px; }
  .SearchPage__result .SearchPage__result-buttons, .SearchPage__result .JourneyPage__buttons-right {
    margin-top: 1em; }
    .SearchPage__result .SearchPage__result-buttons .SearchPage__views, .SearchPage__result .JourneyPage__buttons-right .SearchPage__views {
      padding-left: 1.5em;
      padding-right: 1em;
      position: relative; }
      .SearchPage__result .SearchPage__result-buttons .SearchPage__views:before, .SearchPage__result .JourneyPage__buttons-right .SearchPage__views:before {
        content: "\f06e";
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        color: #29abe1; }
    .SearchPage__result .SearchPage__result-buttons .SearchPage__likes, .SearchPage__result .JourneyPage__buttons-right .SearchPage__likes {
      padding-left: 1.5em;
      padding-right: 1em;
      position: relative; }
      .SearchPage__result .SearchPage__result-buttons .SearchPage__likes:before, .SearchPage__result .JourneyPage__buttons-right .SearchPage__likes:before {
        content: "\f08a";
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        color: #29abe1; }
    .SearchPage__result .SearchPage__result-buttons .rating, .SearchPage__result .JourneyPage__buttons-right .rating {
      position: absolute;
      right: 0;
      bottom: 15px; }
  .SearchPage__result .SearchPage__result-subtitle {
    position: relative;
    top: 2px; }
    .SearchPage__result .SearchPage__result-subtitle .SearchPage__result-author {
      max-width: 50%;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom; }
  .SearchPage__result .JourneyTags {
    height: 5em; }

.JourneyPage__title {
  font-size: 30px; }

.JourneyPage__author {
  padding-right: .3em;
  font: -webkit-control;
  font-size: 1em;
  max-width: 50%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom; }
  @media only screen and (max-width: 768px) {
    .JourneyPage__author {
      max-width: 45%; } }

.JourneyPage__date {
  color: #999999;
  font: -webkit-control;
  font-size: 1em; }

.JourneyPage__buttons {
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 2px solid #ebebeb;
  overflow: visible;
  height: 28px;
  position: relative; }
  .JourneyPage__buttons .JourneyPage__buttons-left {
    float: left; }
    .JourneyPage__buttons .JourneyPage__buttons-left button {
      border: none;
      background: none;
      color: #999999;
      margin-right: 1em; }
      .JourneyPage__buttons .JourneyPage__buttons-left button i {
        color: #29abe1;
        padding-right: .25em; }
      .JourneyPage__buttons .JourneyPage__buttons-left button:hover {
        background: rgba(235, 235, 235, 0.5); }
    @media only screen and (max-width: 768px) {
      .JourneyPage__buttons .JourneyPage__buttons-left {
        background: white;
        float: none;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 10%; }
        .JourneyPage__buttons .JourneyPage__buttons-left button, .JourneyPage__buttons .JourneyPage__buttons-left span.Share {
          margin-bottom: 1em;
          color: transparent !important; }
          .JourneyPage__buttons .JourneyPage__buttons-left button:hover, .JourneyPage__buttons .JourneyPage__buttons-left span.Share:hover {
            background: white !important; }
            .JourneyPage__buttons .JourneyPage__buttons-left button:hover i, .JourneyPage__buttons .JourneyPage__buttons-left span.Share:hover i {
              color: #82ceee !important; }
          .JourneyPage__buttons .JourneyPage__buttons-left button i, .JourneyPage__buttons .JourneyPage__buttons-left button a:before, .JourneyPage__buttons .JourneyPage__buttons-left span.Share i, .JourneyPage__buttons .JourneyPage__buttons-left span.Share a:before {
            font-size: 2em; }
        .JourneyPage__buttons .JourneyPage__buttons-left span.Share {
          position: relative;
          left: 6px;
          top: -5px; }
          .JourneyPage__buttons .JourneyPage__buttons-left span.Share a {
            color: transparent !important; } }
  .JourneyPage__buttons .JourneyPage__buttons-right {
    float: right; }
    @media only screen and (max-width: 768px) {
      .JourneyPage__buttons .JourneyPage__buttons-right {
        float: left;
        width: 100%; } }

.JourneyPage__recommended {
  overflow: auto;
  padding-bottom: 1em; }
  .JourneyPage__recommended .JourneyPage__buy {
    width: 40%;
    float: left; }
    @media only screen and (max-width: 768px) {
      .JourneyPage__recommended .JourneyPage__buy {
        width: 85%;
        padding-right: 1em; } }
    .JourneyPage__recommended .JourneyPage__buy a {
      max-width: initial !important;
      display: block !important;
      width: 100%;
      border: 1px solid #ebebeb;
      margin-bottom: 1em;
      background-size: cover !important;
      background-position: center !important; }
    .JourneyPage__recommended .JourneyPage__buy .JourneyPage__recommended-title {
      border: none;
      color: black;
      font-size: 1.5em; }
    .JourneyPage__recommended .JourneyPage__buy .JourneyPage__recommended-price {
      color: #96bb33;
      font-size: 1.25em;
      position: relative;
      top: -15px; }
    .JourneyPage__recommended .JourneyPage__buy .JourneyPage__buy-now-button {
      background: #29abe1;
      color: white;
      width: 100%;
      display: block;
      text-align: center;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 5px; }
      .JourneyPage__recommended .JourneyPage__buy .JourneyPage__buy-now-button:hover {
        background: #1e9ed3;
        text-decoration: none; }
  .JourneyPage__recommended .JourneyPage__info {
    width: 60%;
    float: right;
    padding-left: 2em;
    padding-right: 2em; }
    @media only screen and (max-width: 768px) {
      .JourneyPage__recommended .JourneyPage__info {
        width: 100%;
        padding-left: 1em; } }
    .JourneyPage__recommended .JourneyPage__info .JourneyPage__recommended-title {
      color: #333333;
      font-size: 1.5em;
      display: block; }
    .JourneyPage__recommended .JourneyPage__info .JourneyPage__description {
      min-height: 200px; }

.panel {
  margin-right: 1em;
  box-shadow: none; }
  .panel .panel-heading {
    background: white;
    box-shadow: none;
    color: #666666; }

.JourneyPage__product .JourneyPage__product-image {
  width: 100%;
  height: 120px;
  margin: auto; }
.JourneyPage__product .JourneyPage__product-title {
  color: #333333;
  font-size: 1em;
  line-height: 1em;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em; }
.JourneyPage__product .JourneyPage__product-price {
  color: #96bb33;
  display: block; }
.JourneyPage__product .JourneyPage__product-rating {
  display: block; }

.JourneyPage__link a {
  display: block; }

.JourneyPage__link-comment {
  color: #666666;
  background: #ebebeb;
  display: inline-block;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .5em;
  margin-bottom: 1em;
  border-radius: 5px;
  position: relative; }
  .JourneyPage__link-comment:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ebebeb;
    top: -4px; }

.JourneyCategories {
  margin-top: 1em; }

.AccountPage__header {
  overflow: auto;
  background: #f1f1f1;
  margin-left: -1em;
  padding: 1em; }
  .AccountPage__header .AccountPage__photo {
    display: block;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 1em; }
  .AccountPage__header h4 {
    padding-top: 2em;
    color: #999999; }

.JourneyComponent__Journey {
  width: 47%;
  float: left;
  border: 2px solid #ebebeb;
  margin: .5em;
  height: 270px; }
  .JourneyComponent__Journey.published {
    border-color: #8bb719; }
  .JourneyComponent__Journey header {
    position: relative;
    display: block;
    border-bottom: 2px solid #ebebeb;
    padding: 1em;
    overflow: hidden; }
    .JourneyComponent__Journey header .JourneyComponent__Journey-title {
      float: left; }
    .JourneyComponent__Journey header .JourneyComponent__Journey-title-link {
      overflow: hidden;
      width: 85%;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .JourneyComponent__Journey header .JourneyComponent__Journey-buttons {
      position: absolute;
      right: 10px;
      top: 15px; }
      .JourneyComponent__Journey header .JourneyComponent__Journey-buttons a {
        width: 30px;
        display: inline-block;
        color: white;
        cursor: pointer; }
        .JourneyComponent__Journey header .JourneyComponent__Journey-buttons a:before {
          content: "\f040";
          font-family: FontAwesome;
          display: block;
          position: absolute;
          z-index: 1;
          color: #666666;
          padding-left: .5em; }
          .JourneyComponent__Journey header .JourneyComponent__Journey-buttons a:before:hover {
            color: #29abe1; }
      .JourneyComponent__Journey header .JourneyComponent__Journey-buttons span {
        width: 30px;
        display: inline-block;
        color: white;
        cursor: pointer; }
        .JourneyComponent__Journey header .JourneyComponent__Journey-buttons span:before {
          content: "\f1f8";
          font-family: FontAwesome;
          display: block;
          position: absolute;
          z-index: 1;
          color: #666666;
          padding-left: .5em; }
  .JourneyComponent__Journey section {
    overflow: auto;
    padding: 1em;
    position: relative; }
    .JourneyComponent__Journey section .JourneyComponent__Journey-photo {
      background-size: cover;
      background-position: center;
      width: 40%;
      float: left;
      height: 150px;
      display: block; }
    .JourneyComponent__Journey section .JourneyComponent__Journey-info {
      padding-left: 1em;
      display: block;
      width: 60%;
      float: left; }
      .JourneyComponent__Journey section .JourneyComponent__Journey-info span {
        display: block; }
      .JourneyComponent__Journey section .JourneyComponent__Journey-info .JourneyComponent__Journey-created {
        color: #999999;
        position: absolute;
        bottom: 15px; }
  .JourneyComponent__Journey footer {
    padding: .5em;
    display: block;
    border-top: 2px solid #ebebeb; }
    .JourneyComponent__Journey footer .JourneyComponent__Journey-publish {
      float: right;
      color: #999999;
      position: relative;
      padding-left: 1.5em; }
      .JourneyComponent__Journey footer .JourneyComponent__Journey-publish:before {
        content: "\f0c7";
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        color: #29abe1; }

.SearchSidebar {
  position: sticky;
  top: 0px;
  z-index: 1024; }
  .SearchSidebar .SidebarCategories {
    padding: 1.5em; }
    .SearchSidebar .SidebarCategories:not(ul) {
      border: 2px solid #ebebeb; }
    .SearchSidebar .SidebarCategories h4 {
      margin-top: 0;
      color: #666666;
      text-transform: uppercase;
      font-size: 1em;
      margin-bottom: 1.5em; }
    .SearchSidebar .SidebarCategories ul {
      padding: 0; }
      .SearchSidebar .SidebarCategories ul li {
        margin-bottom: 1em; }

.main-content .rjsf {
  padding: 0; }
  .main-content .rjsf input, .main-content .rjsf textarea {
    border-radius: 0;
    box-shadow: none;
    color: #666666; }
  .main-content .rjsf .row {
    position: relative; }
  .main-content .rjsf .form-group fieldset .form-group {
    padding: 1em;
    position: relative;
    border: 1px solid #ebebeb;
    border-top: 3px solid #96bb33; }
    @media only screen and (max-width: 768px) {
      .main-content .rjsf .form-group fieldset .form-group {
        padding: 0;
        border: none; } }
    .main-content .rjsf .form-group fieldset .form-group fieldset {
      padding: 0; }
      .main-content .rjsf .form-group fieldset .form-group fieldset legend {
        color: #96bb33;
        margin: -14px;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-bottom: 1em;
        width: 103%; }
      .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list {
        margin: 0 !important; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item {
          border: 1px solid #ebebeb;
          border-top: 3px solid #96bb33;
          padding-top: 5em;
          margin-bottom: 2em;
          overflow-x: hidden;
          position: relative; }
          .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .col-xs-9 {
            width: 100%; }
          .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-toolbox {
            position: absolute;
            right: 0; }
          .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-remove {
            position: absolute;
            right: 0;
            top: -55px;
            background: #ebebeb;
            color: #999999;
            border-radius: 0;
            width: 40px;
            height: 40px;
            border: none; }
            .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-remove:hover {
              background: #f1f1f1; }
          .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-add {
            margin: 0;
            float: right;
            margin-bottom: -2em; }
            .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-add button {
              background: #96bb33;
              border: none;
              border-radius: 0; }
          .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-move-up, .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-list .array-item .array-item-move-down {
            display: none; }
      .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-add {
        margin: 0;
        float: right; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .array-item-add button {
          background: #96bb33;
          border: none;
          border-radius: 0;
          width: 40px;
          height: 40px;
          position: relative;
          bottom: 10px;
          float: right; }
      .main-content .rjsf .form-group fieldset .form-group fieldset .form-group {
        position: relative;
        padding: 1em;
        border: none; }
        @media only screen and (max-width: 768px) {
          .main-content .rjsf .form-group fieldset .form-group fieldset .form-group {
            padding: 0;
            border: none; } }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group legend {
          color: #96bb33;
          padding: .5em;
          padding-left: .75em;
          border: none;
          margin: 0; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group .form-group {
          padding: 0;
          position: relative; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group label {
          color: #666666; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group input, .main-content .rjsf .form-group fieldset .form-group fieldset .form-group textarea {
          border-radius: 0;
          box-shadow: none;
          color: #666666;
          position: relative; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group .error-detail {
          padding: 0;
          position: relative;
          display: inline;
          top: 0px;
          left: 1.5em; }
        .main-content .rjsf .form-group fieldset .form-group fieldset .form-group .help-block {
          position: relative;
          top: 5px;
          color: #999999;
          position: relative;
          display: inline; }

/*# sourceMappingURL=main.css.map */
