$green: #96bb33;
$blue: #0067ab;
$grey: #ebebeb;
$light-grey: #f1f1f1;
$icon-blue: #29abe1;
$dark-grey: #666666;
$medium-grey: #999999;
$black: #333333;
$breakpoint: 768px;
$facebook-blue: #3b5998;
$twitter-blue: #00acee;
$linkedin-blue: #0e76a8;

@import 'global.scss';
@import 'search-menu.scss';
@import 'post.scss';
@import 'journey.scss';
@import 'my-journey.scss';
@import 'sidebar.scss';
@import 'create-journey.scss';
@import 'bootstrap-xl.scss';
@import 'tags-input.scss';
