header {
    // padding: 1em;
    // background: $grey;
}

.AccountPage__header {
    overflow: auto;
    background: $light-grey;
    margin-left: -1em;
    padding: 1em;

    .AccountPage__photo {
        display: block;
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 1em;
    }
    h4 {
        padding-top: 2em;
        color: $medium-grey;
    }
}

.JourneyComponent__Journey {
  height: 270px;
  padding: 0.5em;

    .wrapper {
      border: 2px solid $grey;

      &.published {
        border-color: #8bb719;
      }
    }

    header {
        position: relative;
        display: block;
        border-bottom:  2px solid $grey;
        padding: 1em;
        overflow: hidden;
        .JourneyComponent__Journey-title {
            float: left;
        }
        .JourneyComponent__Journey-title-link {
          overflow: hidden;
          width: 85%;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .JourneyComponent__Journey-buttons {
            position: absolute;
            right: 10px;
            top: 15px;
            a {
                width: 30px;
                display: inline-block;
                color: white;
                cursor: pointer;
                &:before {
                    content: "\f040";
                    font-family: FontAwesome;
                    display: block;
                    position: absolute;
                    z-index: 1;
                    color: $dark-grey;
                    padding-left: .5em;
                    &:hover {
                        color: $icon-blue;
                    }
                }
            }
            span {
                width: 30px;
                display: inline-block;
                color: white;
                cursor: pointer;
                &:before {
                    content: "\f1f8";
                    font-family: FontAwesome;
                    display: block;
                    position: absolute;
                    z-index: 1;
                    color: $dark-grey;
                    padding-left: .5em;
                }
            }
        }
    }
    section {
        overflow: auto;
        padding: 1em;
        position: relative;
        .JourneyComponent__Journey-photo {
            // background-image: url(http://via.placeholder.com/300x300) !important;
            background-size: cover;
            background-position: center;
            width: 40%;
            float: left;
            height: 150px;
            display: block;

        }
        .JourneyComponent__Journey-info {
            padding-left: 1em;
            display: block;
            width: 60%;
            float: left;
            span {
                display: block;
            }
            .JourneyComponent__Journey-created {
                color: $medium-grey;
                position: absolute;
                bottom: 15px;
            }
        }
    }
    footer {
        padding: .5em;
        display: block;
        border-top: 2px solid $grey;

        .JourneyComponent__Journey-publish {
          float: right;
          color: $medium-grey;
          position: relative;
          padding-left: 1.5em;
          &:before {
            content: "\f0c7";
            font-family: FontAwesome;
            position: absolute;
            left: 0;
            color: $icon-blue;
          }
        }
    }
}
