.SearchPage__result {
    height: 660px;
    padding-top: 3em;
    overflow: hidden;
    @media only screen and (max-width: $breakpoint) {
        padding-right: 10px;
        padding-left: 0;
    }
    .SearchPage__result-badge {
      color: $green;
      line-height: 1em;
      font-size: .9em;
      font-weight: bold;
      position: absolute;
      top: 30px;
    }
    // title
    .SearchPage__result-title {
        color: #333333;
        font-size: 1.5em;
        text-decoration: none;
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding-top: 3px;
    }
    // image
    .SearchPage__result-recommended-image {
        background-size: cover !important;
        background-position: center;
        min-height: 210px;
        border: 2px solid $grey;
        margin-bottom: 1em;
        margin-top: 1em;
        background-origin: content-box;
        max-width: initial !important;
        background-repeat: no-repeat;
    }

    transition: .2s all;
    &:hover {
        background: transparentize(#999, .95);
        // transform: scale(1.01,1.01);
    }
    // description
    .SearchPage__result-description {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1em;
    }
    // tags
    .SearchPage__tag-list {
        margin-top: 1em;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        ul {
          list-style: none;
          padding: 0;
          padding-top: 1em;
          color: $icon-blue;
          margin-bottom: 1em;
          li {
            margin-bottom: 5px;
          }
        }
    }
    // stats
    .SearchPage__result-buttons, .JourneyPage__buttons-right {
        margin-top: 1em;
        .SearchPage__views {
            padding-left: 1.5em;
            padding-right: 1em;
            position: relative;
            &:before {
                content: "\f06e";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                color: $icon-blue;
            }
        }
        .SearchPage__likes {
          padding-left: 1.5em;
          padding-right: 1em;
            position: relative;
            &:before {
                content: "\f08a";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                color: $icon-blue;
            }
        }
        .rating {
            position: absolute;
            right: 0;
            bottom: 15px;
        }
    }
    // subtitle
    .SearchPage__result-subtitle {
        position: relative;
        top: 2px;
      .SearchPage__result-author {
        max-width: 50%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
      }
    }
    .JourneyTags {
      height: 5em;
    }
}
