.SearchPage__result {
    height: 500px;
    padding-top: .5em;
    @media only screen and (max-width: $breakpoint) {
        padding-right: 10px;
        padding-left: 0;
    }
    // title
    div a:first-child {
        color: $black;
        font-size: 1.5em;
        text-decoration: none;

    }
    // image
    & > a {
        background-size: cover !important;
        background-position: center;
        min-height: 210px;
        border: 2px solid $grey;
        margin-bottom: 1em;
        margin-top: .5em;
        background-origin: content-box;
        max-width: initial !important;
    }

    transition: .2s all;
    &:hover {
        background: transparentize(#999, .95);
        cursor: pointer;
        // transform: scale(1.01,1.01);
    }
    // description
    .SearchPage__result-description {
        height: 100px;
        overflow: hidden;
    }
    // tags
    .SearchPage__tag-list {
        margin-top: 1em;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        padding-bottom: 1em;
        &:after {
            content: "Categories ( 9 )";
            color: $icon-blue;
        }
    }
    // stats
    .SearchPage__result-buttons, .JourneyPage__buttons-right {
        margin-top: 1em;
        span:nth-child(1) {
            padding-left: 1.5em;
            padding-right: 2em;
            position: relative;
            &:before {
                content: "\f06e";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                color: $icon-blue;
            }
        }
        span:nth-child(2) {
            padding-left: 1.5em;
            position: relative;
            &:before {
                content: "\f08a";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                color: $icon-blue;
            }
        }
    }
}
